/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-cover-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --menu-button-color: #353430;
  --corner-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --section-title-color: #353430;
  --section-subtitle-color: #353430;
  --card-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --background-cover-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --menu-button-color: #353430;
    --corner-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --subtitle-color: #353430;
    --section-title-color: #353430;
    --section-subtitle-color: #353430;
    --card-text-color: #353430;
  }

  :root:not(.theme-dark) .header__rec-label {
    display: none;
  }
}

.theme-light .header__rec-label {
  display: none;
}
