body {
  display: grid;
  gap: 40px;
  font-family: "IBM Plex Mono", monospace;
}

.page {
  background-image: var(--background-cover-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--content-padding);
}

.header__rec-label {
  position: absolute;
  top: var(--content-padding);
  right: calc(var(--content-padding) + 10px);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
  color: var(--menu-button-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--menu-button-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-button-color);
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}
.decorated-zone::before {
  top: var(--content-padding);
  right: var(--content-padding);
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
  bottom: var(--content-padding);
  left: var(--content-padding);
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: var(--logo-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
}

.header__subtitle p {
  font-weight: bold;
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 var(--content-padding);
}

.section {
  display: grid;
  gap: 20px;
}

.section__content {
  display: grid;
  gap: 20px;
}

.concentration_images {
  grid-template-areas:
    "title"
    "gallery";
  gap: 10px;
}

.concentration_images .card__title {
  grid-area: title;
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__title {
  font-weight: bold;
  color: var(--section-title-color);
}

.section_text {
  font-size: 18px;
  line-height: 23.4px;
}

.card__title {
  font-weight: bold;
}

.card__grayed__title {
  font-weight: normal;
}

.card__text {
  color: var(--card-text-color);
}

.card__text_link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card__text_link:hover {
  border-block-end: 1px solid currentColor;
}

.card__text_link:focus {
  outline: none;
}

.card__text_link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.gallery {
  display: grid;
  grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
  gap: 10px;
  grid-area: gallery;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.gallery__item_sunset {
  grid-area: sunset;
}
.gallery__item_ice-cream {
  grid-area: ice-cream;
}
.gallery__item_tape {
  grid-area: tape;
}
.gallery__item_books {
  grid-area: books;
}
.gallery__item_street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__text {
  font-size: var(--logo-size);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: bold;
}

@media (width >= 768px) {
  body {
    gap: 60px;
  }

  .header__title {
    margin-inline-start: calc(var(--content-padding) * -1);
  }

  .header__subtitle {
    width: 35.5vh;
  }

  .main {
    gap: 80px;
  }

  .concentration_why,
  .concentration_how {
    grid-template-columns: 1fr 2fr;
  }

  .concentration_what {
    grid-template-columns: 1fr 2fr;
  }

  .concentration_what .section__content {
    grid-column: 1 / -1;
  }

  .concentration_images {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192fr 230fr 318fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .gallery__image {
    aspect-ratio: auto;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    width: 47.7vw;
  }

  .concentration_why,
  .concentration_what,
  .concentration_how {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration_why .section__content,
  .concentration_how .section__content {
    grid-column: span 2;
  }

  .concentration_what .section__content {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }

  .concentration_images {
    grid-template-areas:
      "title title title"
      "gallery gallery gallery";
  }

  .gallery {
    grid-template-rows: 260fr 315fr 433fr;
  }
}
