body {
  display: grid;
  gap: 40px;
  font-family: "IBM Plex Mono", sans-serif;
}

.page {
  background-image: var(--background-cover-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--content-padding);
}

.header__rec-label {
  position: absolute;
  top: var(--content-padding);
  right: calc(var(--content-padding) + 10px);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.header__rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
  color: var(--accent-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--accent-color) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}
.decorated-zone::before {
  top: var(--content-padding);
  right: var(--content-padding);
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--content-padding);
  left: var(--content-padding);
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 var(--content-padding);
}

.section {
  display: grid;
  gap: 20px;
}

.concentration_why {
  grid-template-areas:
    "title"
    "multitasking"
    "dopamine";
}

.concentration_what {
  grid-template-areas:
    "title"
    "concentration"
    "food"
    "gadgets";
}

.concentration_how {
  grid-template-areas:
    "title"
    "subtitle"
    "meditate"
    "music"
    "walk"
    "eat"
    "read";
}

.concentration_images {
  grid-template-areas:
    "title"
    "gallery";
  gap: 10px;
}

.section__card_multitasking {
  grid-area: multitasking;
}
.section__card_dopamine {
  grid-area: dopamine;
}
.section__card_concentration {
  grid-area: concentration;
}
.section__card_food {
  grid-area: food;
}
.section__card_gadgets {
  grid-area: gadgets;
}
.section__card_meditate {
  grid-area: meditate;
}
.section__card_music {
  grid-area: music;
}
.section__card_walk {
  grid-area: walk;
}
.section__card_eat {
  grid-area: eat;
}
.section__card_read {
  grid-area: read;
}

.concentration_how .card__title {
  grid-area: subtitle;
}

.concentration_images .card__title {
  grid-area: title;
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
  color: var(--section-title-color);
  grid-area: title;
}

.card__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: bold;
}

.card__grayed__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
}

.card__text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-text-color);
}

.card__text_link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card__text_link:hover {
  text-decoration: underline;
}

.card__text_link:focus {
  outline: none;
}

.card__text_link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.gallery {
  display: grid;
  grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
  gap: 10px;
  grid-area: gallery;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.gallery__image_sunset {
  grid-area: sunset;
}
.gallery__image_ice-cream {
  grid-area: ice-cream;
}
.gallery__image_tape {
  grid-area: tape;
}
.gallery__image_books {
  grid-area: books;
}
.gallery__image_street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: bold;
}

@media (width >= 768px) {
  body {
    gap: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: calc(var(--content-padding) * -1);
  }

  .header__subtitle {
    width: 35.5vh;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .concentration_why {
    grid-template-areas:
      "title multitasking"
      "title dopamine";
  }

  .concentration_what {
    grid-template-areas:
      "title ."
      "concentration concentration"
      "food food"
      "gadgets gadgets";
  }

  .concentration_how {
    grid-template-areas:
      "title subtitle"
      "title meditate"
      "title music"
      "title walk"
      "title eat"
      "title read";
  }

  .concentration_images {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "gallery";
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192fr 230fr 318fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .gallery__image {
    aspect-ratio: auto;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    width: 47.7vw;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration_why {
    grid-template-areas:
      "title multitasking multitasking"
      "title dopamine dopamine";
  }

  .concentration_what {
    grid-template-areas:
      "title . ."
      "concentration food gadgets";
  }

  .concentration_how {
    grid-template-areas:
      "title subtitle subtitle"
      "title meditate meditate"
      "title music music"
      "title walk walk"
      "title eat eat"
      "title read read";
  }

  .concentration_images {
    grid-template-areas:
      "title title title"
      "gallery gallery gallery";
  }

  .gallery {
    grid-template-rows: 260fr 315fr 433fr;
  }
}
