:root {
  --background-cover-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --section-title-color: #ff0070;
  --section-subtitle-color: #000028;
  --card-text-color: #f1b2ce;
  --content-padding: 10px;
}

@media (width >= 768px) {
  :root {
    --content-padding: 20px;
  }
}
